
CwtExtractorUsageUrl: https://pac-salmon.dfo-mpo.gc.ca/Api.DataExtractor.v2/api/Usage/NetworkUseAccept
CwtExtractorQueryUrl: https://pac-salmon.dfo-mpo.gc.ca/Api.DataExtractor.v2/api/DynamicQuery/QueryResult

NusedsExtractorUsageUrl: https://pac-salmon.dfo-mpo.gc.ca/Api.NuSEDS.v2/api/Usage/NetworkUseAccept
NusedsExtractorQueryUrl: https://pac-salmon.dfo-mpo.gc.ca/Api.NuSEDS.v2/api/DynamicQuery/QueryResult

AgeUsageUrl: https://pac-salmon.dfo-mpo.gc.ca/Api.CwtDataEntry.v2/api/Usage/NetworkUseAccept
AgeBatchList: https://pac-salmon.dfo-mpo.gc.ca/Api.CwtDataEntry.v2/api/Report/GetAgeBatchList
AgeBatchDetail: https://pac-salmon.dfo-mpo.gc.ca/Api.CwtDataEntry.v2/api/AgeBatchDetail/GetAgeBatchDetail
AgeBatchScaleResults: https://pac-salmon.dfo-mpo.gc.ca/Api.CwtDataEntry.v2/api/AgeBatchDetail/ScaleAgeDetail
